{{#with data}}


<div class="card-wrapper">
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>ID:</h3>
    <p class="card-wrapper__subtitle">{{id}}</p>
  </div>
</div>
{{>divider}}
<div class="card-wrapper">
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Ім'я:</h3>
    <p class="card-wrapper__subtitle">{{firstname}}</p>
  </div>
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Прізвище:</h3>
    <p class="card-wrapper__subtitle">{{lastname}}</p>
  </div>
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Телефон:</h3>
    <p class="card-wrapper__subtitle">{{phone}}</p>
  </div>
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Електронна пошта:</h3>
    <p class="card-wrapper__subtitle">{{email}}</p>
  </div>
</div>
{{>divider}}
<div class="card-wrapper">
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Назва товару:</h3>
    <p class="card-wrapper__subtitle">{{product.title}}</p>
    <h3 class='card-wrapper__title'>Коментар:</h3>
    <p class="card-wrapper__subtitle">{{comment}}</p>
  </div>
</div>
{{>divider}}
<div class="card-wrapper">
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Вартість товарів:</h3>
    <p class="card-wrapper__subtitle">{{productPrice}}</p>
  </div>
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Вартість доставки</h3>
    <p class="card-wrapper__subtitle">{{deliveryPrice}}</p>
  </div>
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Сумма до сплати:</h3>
    <p class="card-wrapper__subtitle">{{totalPrice}}</p>
  </div>
  <div class="card-wrapper--block">
    <h3 class='card-wrapper__title'>Нарахований бонус:</h3>
    <p class="card-wrapper__subtitle">{{bonusBalance}}</p>
  </div>
</div>
{{>divider}}

<a href="/purchase-change?id={{id}} " class="button-change">Змінити данні</a>

{{/with}}