{{#with data}}

<a href="/purchase-info?id={{id}}" class='product-card'>
  <div class="wrapper">
    <h3 class='wrapper__title wrapper__title--center'>ID: {{id}}</h3>
  </div>

  <div class="wrapper">
    <h3 class="wrapper__title">Товари:</h3>
    <p class='wrapper__subtitle'>{{product.description}}</p>
  </div>
  <div class="wrapper">
    <h3 class="wrapper__title  ">Сумма замовлення</h3>
    <p class='wrapper__subtitle'>{{totalPrice}} грн</p>
  </div>
  <div class="wrapper">
    <h3 class="wrapper__title">Нараховані бонуси</h3>
    <p class='wrapper__subtitle'>{{bonusBalance}} грн</p>
  </div>
</a>

{{>divider}}

{{/with}}